img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 12px 10px;
    display: block;
    float: left;
    border: 2px solid #ddc5de;
}

.profile-name {
    display: block;
    float: left;
    margin: 34px 10px;
    color: #ddc5de;
    font-family: Consolas;
}