<div class="container">
    <div class="dms-header">
        <h3 class="dms-header-text">Direct Messages</h3>
        <i class="dms-add fa fa-plus-circle" style="font-size:16px"></i>
    </div>
    <!-- <app-room *ngFor="let room of rooms"></app-room> -->
    <div class="dms-list">
        <app-direct-message></app-direct-message>
        <app-direct-message></app-direct-message>
        <app-direct-message></app-direct-message>
        <app-direct-message></app-direct-message>
        <app-direct-message></app-direct-message>
        <app-direct-message></app-direct-message>
        <app-direct-message></app-direct-message>
        <app-direct-message></app-direct-message>
        <app-direct-message></app-direct-message>
        <app-direct-message></app-direct-message>
        <app-direct-message></app-direct-message>
        <app-direct-message></app-direct-message>
        <app-direct-message></app-direct-message>
        <app-direct-message></app-direct-message>
        <app-direct-message></app-direct-message>
    </div>
</div>
    