.container {
    margin: 10px 15px;
}

.dms-header {
    display: inline-block;
}

.dms-header-text {
    color: #ddc5de;
    font-family: Consolas;
    display: inline-block;
}

.dms-add {
    color: #ddc5de;
    display: inline-block;
    margin-left: 15px;
}

.dms-list {
    display: block;
    margin: 10px 0px;
}

app-direct-message {
    width: 100%;
    display: inline-block;
    margin: 3px 0px;
}