app-header {
    height: 80px;
    width: 100%;
    display: block;
    float: left;
    background: lightblue;
}

app-display {
    width: 100%;
    height: calc(100vh - 180px);
    display: block;
    float: left;
}

app-input {
    width: 100%;
    height: 100px;
    display: block;
    margin-top: 0px;
    float: left;
    background: lightblue;
}