app-navigation {
    width: 260px;
    height: 100vh;
    background: #4A154B;
    display: block;
    overflow-y: auto;
    float: left;
}

app-box {
    width: calc(100% - 260px);
    height: 100vh;
    display: block;
    float: left;
}

app-profile-box {
    width: calc(100% - 260px);
    height: 100vh;
    display: block;
    float: left;
}