.nav-section {
    width: 100%;
    display: inline-block;
}

app-profile {
    height: 80px;
}

app-profile:hover {
    background: #350e36;
}

app-notifications {
    
}

app-rooms {

}

app-directmessages {

}