<app-profile class="nav-section"></app-profile>
<app-notifications class="nav-section"></app-notifications>
<app-rooms class="nav-section"></app-rooms>
<app-directmessages class="nav-section"></app-directmessages>