.dm-state {
    display: block;
    float: left;
    color: #ddc5de;
}

.dm-name {
    display: block;
    float: left;
    font-style: normal;
    font-size: 14px;
    font-family: Consolas;
    margin-left: 10px;
    color: #ddc5de;
}

.dm-new-info {
    display: block;
    float: left;
    background: #E01E5A;
    padding: 0px 8px;
    margin-left: 10px;
    color: white;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
}