.container {
    margin: 10px 15px;
}

.room-header {
    display: inline-block;
}

.room-header-text {
    color: #ddc5de;
    font-family: Consolas;
    display: inline-block;
}

.room-add {
    color: #ddc5de;
    display: inline-block;
    margin-left: 15px;
}

.rooms-list {
    display: block;
    margin: 10px 0px;
}

app-room {
    width: 100%;
    display: inline-block;
    margin: 3px 0px;
}