<div class="container">
    <div class="room-header">
        <h3 class="room-header-text">Rooms</h3>
        <i class="room-add fa fa-plus-circle" style="font-size:16px"></i>
    </div>
    <!-- <app-room *ngFor="let room of rooms"></app-room> -->
    <div class="rooms-list">
        <app-room></app-room>
        <app-room></app-room>
        <app-room></app-room>
        <app-room></app-room>
        <app-room></app-room>
        <app-room></app-room>
        <app-room></app-room>
        <app-room></app-room>
        <app-room></app-room>
        <app-room></app-room>
    </div>
</div>
