.container {
    margin: 10px 15px;
}

.thread-text {
    color: #ddc5de;
    font-family: Consolas;
    display: block;
    float: left;
}

.thread-new-info {
    display: block;
    float: left;
    background: #E01E5A;
    padding: 0px 8px;
    margin-left: 10px;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    font-family: Consolas;
}